# Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Environment variables
.env

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Operating system files
.DS_Store
Thumbs.db